img{
  width: 150px;
  height: 150px;
  margin-left: 10em;
}

.mg-t{
  margin-top: 5em;
}

.card{
  width: 30rem;
  display: inline-block;
  margin: 1em 3em;
}

.txt-c{
  text-align: center;
}

.momento{
  margin-left: 20em;
}

div.card-body{
  text-align: center;
}
