<div class="row mg-t">
  <h2 class="txt-c">Veja sobre as minhas últimas experiências</h2>

  <div class=" txt-c">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Quintess / Soma - AHMP / Quiccks</h5>
        <p class="card-text">Abr/2022 - o momento</p>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <img src="../../assets/images/spread-logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spread</h5>
        <p class="card-text">8 meses</p>
        <p class="card-text">Atuando na Caixa Econômica com Angular 8, JAVA 8, Spring, Git, Scrum.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/globalweb-logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Globalweb Corp </h5>
        <p class="card-text">11 meses</p>
        <p class="card-text">Atuando no Banco de Brasília com HTML 5, CSS 3, JavaScript, AngularJs, Bootstrap, Jquery, PHP, Laravel, Wordpress, SVN, Scrum.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <img src="../../assets/images/hosp-logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hospital Santa Lúcia</h5>
        <p class="card-text">6 meses</p>
        <p class="card-text">Atuando com HTML 5, CSS 3, JavaScript, Bootstrap, Jquery, PHP, Git.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/images/tjdft-logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tribunal de Justiça do Distrito Federal e dos Territórios</h5>
        <p class="card-text">1 ano</p>
        <p class="card-text">Atuando com atividades administrativas</p>
      </div>
    </div>
  </div>
</div>
