.img{
  width: 150px;
  height: 150px;

}

.img-principal{
  width: 150px;
  height: 150px;
}

.mg-t{
  margin-top: 5em;
}

.card{
  width: 35rem;
  display: inline-block;
  margin: 1em 3em;
}

.txt-c{
  text-align: center;
}

div.card-body{
  text-align: center;
}

.row.mg-t{
  color: black;
}

h2.txt-c{
  color: white;
}

.card.centralizada{
  width: 100% !important;
}

.pd-l{
  margin-left: 3em;
}

@media (min-width: 280px) and (max-width: 350px){

  .card{
    width: 14em !important;
  }

  #identificador-carreira .card{
    margin-top: 1em;
    margin-left: 0em !important;
  }

  .card.centralizada{
    width: 5em !important;
    margin-left: 1em !important;
  }

  #identificador-carreira{
    margin-right: 5em !important;
    margin-left: 1em !important;
  }
}

@media (min-width: 355px) and (max-width: 400px){
  .card{
    width: 18em !important;
  }

  #identificador-carreira{
    margin-left: 1.7em !important;
  }

  .card.centralizada{
    width: 7em !important;
    margin-left: 1.5em !important;
  }
}

@media (max-width: 430px) {
  .card{
    margin: 0em;
    width: 18em;
  }

  #identificador-carreira .card{
    margin-top: 2em;
    margin-left: 1em !important;
  }

  .card.centralizada{
    width: 20em !important;
    margin-left: 3em;
  }
}

@media (min-width: 540px) and (max-width: 760px) {
  .card{
    margin: 0em;
    width: 24em;
  }

  #identificador-carreira .card{
    margin-top: 2em;
    margin-left: 2em !important;
  }

  .card.centralizada{
    width: 28em !important;
    margin-left: 3em;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .card{
    margin: 0em;
    width: 30em;
  }

  #identificador-carreira .card{
    margin-top: 2em;
    margin-left: 5em !important;
  }

  .card.centralizada{
    width: 39em !important;
    margin-left: 3em;
  }
}

@media (min-width: 920px) and (max-width:1024px) {

  #identificador-carreira .card{
    margin-top: 2em;
    margin-left: 1em !important;
    width: 24em;
  }

  .card.centralizada{
    width: 55em !important;
    margin-left: 3em;
  }

  h2{
    margin-left: 1em;
  }
}
