.img{
  width: 150px;
  height: 150px;

}

.img-principal{
  width: 150px;
  height: 150px;
}

.mg-t{
  margin-top: 5em;
}

.card{
  width: 35rem;
  display: inline-block;
  margin: 1em 3em;
}

.txt-c{
  text-align: center;
}

div.card-body{
  text-align: center;
}

.row.mg-t{
  color: black;
}

h2.txt-c{
  color: white;
}

.card.centralizada{
  width: 100% !important;
}

.pd-l{
  margin-left: 3em;
}

