header{
  margin: 20px 0px;
}

li{
  display: inline-block;
  margin-left: 10em;
}

nav{
  padding-left: 7em;
}

a{
  text-decoration: none;
  color: white;
}

@media (max-width: 430px) {
  .header {
    margin-left: 0em !important;
    width: 100%;
  }

  li{
    margin-left: 1em;
  }

  nav{
    padding-left: 0em;
  }

  header{
    text-align: center;
  }
}

@media (min-width: 540px) {
  .header {
    margin-left: 0em !important;
    width: 100%;
  }

  li{
    margin-left: 1em;
  }

  nav{
    padding-left: 0em;
  }

  header{
    text-align: center;
  }
}
