.foto{
  background-image: url("../../assets/images/fotoSorrindo.jpeg");
  background-repeat: no-repeat;
  width: 430px;
	height: 330px;
	padding-top: 10px;
  border-radius: 10px;
}

.ap{

}

.texto{
  padding-top: 3em;
}

.texto h2{
  padding-bottom: 2em;
}

.texto p{
  margin-right: 10em !important;
}
