<div class="row ap">
  <div class="col-8 texto">
    <h2>Seja bem vindo(a) ao meu portifólio!</h2>
    <p>Sou o Samuel Torres, tenho 22 anos, este portifólio tem como objetivo mostrar a minha trajetória como desenvolvedor, apresentar minhas habildades e por fim os meus projetos pessoais! Vamos lá?</p>
    <button mat-button color="primary"><a href="https://www.linkedin.com/in/samueltorresb8581711b/" target="_blank">Entre em contato</a></button>
  </div>
  <div class="col-4 foto">
  </div>
</div>
