.foto{
  background-image: url("../../assets/images/foto-sorrindo.png");
  //background-repeat: no-repeat;
  width: 400px;
	height: 400px;
	padding: 5x 5px 0 0;
  border-radius: 200px;
  border-color: white;
  border-style: groove;
}

.texto{
  padding-top: 3em;
}

.texto h2{
  padding-bottom: 2em;
}

.texto p{
  margin-right: 10em !important;
}

button{
  color: white !important;
  background-color: transparent;
  border-color: white !important;
  border-style: groove;
}

a{
  color: white;
  text-decoration: none;
}

@media (max-width: 430px) {
  .texto{
    text-align: center !important;
    width: 100%;
  }

  .texto p{
    margin-right: 0em !important;
  }

  .foto {
    background-image: none; /* Remove a imagem de fundo */
    width: auto; /* Redefine a largura para o valor padrão (automática) */
    height: auto; /* Redefine a altura para o valor padrão (automática) */
    padding: 0; /* Remove o padding */
    border: none; /* Remove a borda */
  }
}

@media (min-width: 540px) and (max-width: 760px) {
  .texto{
    text-align: center !important;
    width: 100%;
  }

  .texto p{
    margin-right: 0em !important;
  }

  .foto {
    margin: 2em 0em 0em 5em;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .texto{
    text-align: center !important;
    width: 100%;
  }

  .texto p{
    margin-right: 0em !important;
  }


  .foto {
    margin: 2em 0em 0em 10em;
  }
}

@media (min-width: 920px) and (max-width:1024px) {
  .texto p{
    margin-right: 0em !important;
  }

  .foto{
    padding: 0em !important;
    margin: 0em !important;
  }

  .texto{
    width: 50%;
  }
}
