.foto{
  background-image: url("../../assets/images/foto-sorrindo.png");
  //background-repeat: no-repeat;
  width: 400px;
	height: 400px;
	padding: 5x 5px 0 0;
  border-radius: 200px;
  border-color: white;
  border-style: groove;
}

.texto{
  padding-top: 3em;
}

.texto h2{
  padding-bottom: 2em;
}

.texto p{
  margin-right: 10em !important;
}

button{
  color: white !important;
  background-color: transparent;
  border-color: white !important;
  border-style: groove;
}

a{
  color: white;
  text-decoration: none;
}
