<h2>Projetos Pessoais</h2>
<div class="projetos" id="identificador-projetos">
  <div class="row benfica">
    <h5>Benfica Corretora</h5>
    <div>
      <mat-icon class="code"><span><a href="https://github.com/Samtoorres/corretora-benfica" target="_blank">code</a></span></mat-icon>
      <!-- <mat-icon><span>open_in_new</span></mat-icon> -->
    </div>
  </div>
  <div class="mais row">
    <h5>Mais projetos em meu GitHub
      <mat-icon>
        <span class="material-symbols-outlined"><a href="https://github.com/Samtoorres?tab=repositories" target="_blank">open_in_new</a></span>
      </mat-icon>
    </h5>
  </div>
</div>
