.projetos{
  background-color: white;
  border-radius: 1em;
  padding-top: 2em;
  width: 80%;
  margin-left: 10em;
  color: #243949;
  text-align: center;
}

h2{
  margin-top: 3em;
  text-align: center;
}

h5{
  color: #243949;
}

a{
  text-decoration: none;
  color: #243949;
}

span{
  font-size: 20px;
}

@media (min-width: 280px) and (max-width: 350px){
  .projetos{
    margin-left: 2em !important;
  }
}

@media (max-width: 360px) {
  .projetos{
    margin-left: 3em;
  }

  .code{
    margin-left: 1em;
  }
}

@media (max-width: 430px) {
  .projetos{
    margin-left: 3em;
  }

  .code{
    margin-right: 1em;
  }
}

@media (min-width: 540px) and (max-width: 760px) {
  .projetos{
    margin-left: 3em;
    width: 85%;
  }

  .code{
    margin-right: 1em;
  }

  .code span{
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .projetos{
    width: 90%;
    margin-left: 3em;
  }
}

@media (min-width: 920px) and (max-width:1024px) {
  .projetos{
    width: 95%;
    margin-left: 2em;
  }
}
