img{
  width: 8em;
  height: 8em;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  margin-right: 4em;
  padding-top: 4em;
}

.habilidades{
  background-color: white;
  border-radius: 1em;
  padding-top: 2em;
  width: 80%;
  margin-left: 10em;
  color: #243949;
}

.icone-angular{
  margin-left: 2em;
}

h2{
  margin-top: 3em;
  text-align: center;
}

h4{
  color: #243949;
}

button{
  border: none;
  background-color: white;

}

mat-icon{
  font-size: 2em;
  margin-right: 10px;
}

.mais{
  text-align: center;
  margin-top: 2em;
  background-color: transparent;
}

@media (min-width: 280px) and (max-width: 350px){
  .habilidades{
    margin-left: 1.5em !important;
    width: 85% !important;
  }
}

@media (max-width: 430px) {
  .habilidades{
    margin-left: 3em;
  }

  img{
    width: 6em;
    height: 6em;
  }

  li {
    margin-right: 3em;
    padding-top: 4em;
  }

  .icone-angular{
    margin-left: 0em;
  }
}

@media (min-width: 540px) and (max-width: 760px) {
  .habilidades{
    margin-left: 3.5em;
  }

  img{
    width: 6em;
    height: 6em;
  }

  li {
    margin-right: 3em;
    padding-top: 4em;
  }

  .icone-angular{
    margin-left: 0em;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .habilidades{
    width: 85%;
    margin-left: 4em;
  }
}

@media (min-width: 920px) and (max-width:1024px) {
  .habilidades{
    width: 90%;
    margin-left: 3em;
  }
}
