<h2>Habilidades</h2>
<div class="habilidades">
  <ul>
    <li class="icone-angular"><img src="../../assets/images/segundoangular.png" alt="Angular"></li>
    <li><img src="../../assets/images/segundojava.png" alt="Java"></li>
    <li><img src="../../assets/images/segundopring.png" alt="Spring"></li>
    <li><img src="../../assets/images/git.png" alt="Git"></li>
  </ul>
  <div class="mais">
    <h4>E muito mais!</h4>
    <button>
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
